<h3 class="pull-left">{{ 'Manage Help Messages' | trans }}</h3>
<a class="btn btn-success pull-right" style="margin-bottom: 10px;margin-top: 20px;" ui-sref="admin.manage_help_messages.add">
    <i class="fa fa-plus-circle"></i>
    {{ 'Add a Help Message' | trans }}
</a>
<div class="clearfix"></div>
<hr />
{{ dataTable | raw }}
