{{ dataTable | raw }}
<div class="clearfix"></div>
<button type="button" class="btn btn-danger direction1" ng-click="cancel()">Cancel</button>


<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>