<span class="eserv_field_value edit">
    <div class="form-group select_address_container">
        <label class="col-lg-4 control-label" for="eserv_select_address">Select Address</label>
        <div class="col-md-8">
            <select id="eserv_select_address" name="eserv_select_address" class="form-control eserv_select_address"></select>
        </div>
    </div>
</span>