{% include 'ESERVMAINHelpersBundle:Form:edit_record_header.html.twig' with {'header': 'Edit ' ~ ('Establishment' | trans), 'name': organisation['name'], 'id': establishment['code'] } %}

<div class='row' ng-controller="SortableCTRL">
    <div class="col_group_container" data-eserv_col_height="">
        <div class="column" id="col_eserv_main_establishment_portlet">
            {% include 'ESERVMAINHelpersBundle:Form:theme_portlet.html.twig' 
                with {
                        'initial': "open",
                        'id': "eserv_render_establishment_main",
                        'heading': "Main Details" | trans,
                        'refresh_url': path ('eserv_main_establishment_edit', {'id': id})
                } 
            %}
            {% for indx, element in myArray %}
                    {% include 'ESERVMAINHelpersBundle:Form:theme_portlet.html.twig' 
                        with {
                                'initial': "closed",
                                'id': "portlet_eserv_render_establishment_" ~ element['table_id'],
                                'heading': element['title'] | trans,
                                'refresh_url': path ('eserv_client_new_form', {'table_id': element['table_id'], 'entity_id': element['entity_id']})
                        } 
                    %}                     
                {% endfor %}
        </div>            
        <div class="clearfix"></div>
    </div>
</div>
        
<script type="text/javascript">
    $(document).ready(function() {
        //refreshAllProtlets();
    });
</script>